{"0": [[":snt1", 1], [":snt2", 8]], "1": [[":mode", 2], [":ARG0", 3], [":ARG1", 4], [":manner", 7]], "4": [[":ARG0-of", 5]], "5": [[":ARG1", 6]], "8": [[":ARG0", 9], [":ARG2", 10]], "10": [[":ARG0", 9], [":ARG1", 11]]}
{"0": [[":mode", 1], [":ARG0", 2], [":ARG2", 3]], "3": [[":ARG0", 2], [":ARG2", 4], [":manner", 12]], "4": [[":ARG0", 2], [":ARG1", 5]], "5": [[":op1", 6], [":op2", 10]], "6": [[":name", 7]], "7": [[":op1", 8], [":op2", 9]], "10": [[":ARG1-of", 11]], "11": [[":ARG2", 6]], "12": [[":ARG1", 2]]}
{"0": [[":snt1", 1], [":snt2", 5], [":snt3", 15]], "1": [[":ARG1", 2], [":ARG2", 4]], "2": [[":purpose", 3]], "5": [[":ARG0", 6], [":ARG1", 12]], "6": [[":mod", 7], [":mod", 10], [":mod", 11]], "7": [[":name", 8]], "8": [[":op1", 9]], "12": [[":op1", 13], [":op2", 14]], "15": [[":ARG0", 16], [":ARG1", 17], [":mod", 19], [":prep-with", 20]], "17": [[":poss", 16], [":mod", 18]], "20": [[":op1", 21], [":op2", 24]], "21": [[":mod", 22]], "22": [[":ARG0-of", 23]], "24": [[":mod", 25]]}
{"0": [[":snt1", 1], [":snt2", 14], [":snt3", 18], [":snt4", 23]], "1": [[":mode", 2], [":polarity", 3], [":ARG1", 4], [":ARG2", 5], [":time", 12], [":direction", 13]], "5": [[":mod", 6], [":time-of", 7]], "7": [[":ARG1", 8], [":ARG0-of", 9], [":time", 10]], "10": [[":ARG0", 8], [":ARG1", 11]], "14": [[":mode", 2], [":ARG1", 15]], "15": [[":name", 16]], "16": [[":op1", 17]], "18": [[":op1", 19], [":op2", 21]], "19": [[":mode", 2], [":ARG1", 20]], "21": [[":mode", 2], [":ARG0", 22]], "23": [[":mode", 2], [":ARG0", 24], [":ARG1", 25]], "25": [[":ARG1-of", 26]]}
{"0": [[":month", 1], [":day", 2], [":year", 3]]}
{"0": [[":snt2", 1], [":snt1", 4], [":snt3", 10]], "1": [[":ARG5", 2], [":manner", 3]], "4": [[":ARG0", 5], [":ARG1", 6]], "6": [[":ARG0", 7]], "7": [[":ARG0-of", 8]], "8": [[":ARG1", 9]], "10": [[":ARG0", 11], [":ARG1", 12], [":condition", 34]], "12": [[":name", 13], [":domain", 11], [":purpose", 16]], "13": [[":op1", 14], [":op2", 15]], "16": [[":op1", 17], [":op2", 23], [":op5", 28]], "17": [[":op1", 18], [":op2", 21]], "18": [[":ARG0", 11], [":ARG1", 19]], "19": [[":poss", 20]], "21": [[":ARG0", 11], [":ARG1", 22]], "22": [[":poss", 20]], "23": [[":ARG0", 11], [":ARG1", 24]], "24": [[":poss", 25]], "25": [[":name", 26], [":poss", 20]], "26": [[":op1", 27]], "28": [[":ARG0", 11], [":ARG2", 29]], "29": [[":ARG0", 11], [":ARG2", 30], [":degree", 33]], "30": [[":ARG1", 31]], "31": [[":mod", 32], [":poss", 20]], "33": [[":ARG1", 11]], "34": [[":ARG1", 35], [":mod", 36]]}
{"0": [[":ARG0", 1], [":ARG1", 2], [":degree", 33]], "2": [[":ARG1", 1], [":time", 3], [":purpose", 14]], "3": [[":name", 4], [":mod", 7], [":ARG1-of", 8], [":mod", 9], [":poss", 10]], "4": [[":op1", 5], [":op2", 6]], "10": [[":name", 11]], "11": [[":op1", 12], [":op2", 13]], "14": [[":op1", 15], [":op2", 17], [":op3", 19], [":op4", 29]], "15": [[":ARG0", 1], [":ARG1", 16]], "16": [[":part-of", 1]], "17": [[":ARG0", 1], [":ARG1", 18]], "18": [[":part-of", 1]], "19": [[":ARG0", 1], [":ARG1", 20], [":ARG1-of", 28]], "20": [[":quant", 21], [":ARG0-of", 22], [":ARG0-of", 26]], "22": [[":ARG1", 23]], "23": [[":name", 24]], "24": [[":op1", 25]], "26": [[":ARG1", 23], [":ARG2", 27]], "29": [[":ARG0", 1], [":ARG1", 30]], "30": [[":mod", 31], [":poss", 32]], "33": [[":degree", 34]]}
{"0": [[":ARG0", 1], [":ARG1", 2], [":duration", 5]], "2": [[":name", 3]], "3": [[":op1", 4]]}
{"0": [[":ARG0", 1], [":ARG2", 2]], "2": [[":mod", 3], [":poss", 1]]}
{"0": [[":snt1", 1], [":snt2", 5]], "1": [[":ARG0", 2], [":ARG1", 3], [":ARG2", 4]], "5": [[":ARG1", 6], [":ARG2", 24]], "6": [[":ARG0", 7], [":ARG1", 10], [":ARG1-of", 21], [":time", 22], [":mod", 23]], "7": [[":name", 8]], "8": [[":op1", 9]], "10": [[":mod", 11], [":location", 12], [":ARG1-of", 13], [":ARG1-of", 20]], "13": [[":ARG2", 14]], "14": [[":name", 15], [":mod", 18], [":location", 19]], "15": [[":op1", 16], [":op2", 17]], "20": [[":ARG2", 27]], "24": [[":ARG0", 25], [":ARG1", 27]], "25": [[":mod", 26]], "27": [[":name", 28]], "28": [[":op1", 29], [":op2", 30]]}
