{"0": [[":snt1", 1], [":snt2", 9], [":snt3", 12], [":snt4", 15]], "1": [[":ARG0-of", 2]], "2": [[":ARG1", 3], [":time", 4]], "4": [[":ARG0", 1], [":ARG1", 5], [":manner", 8]], "5": [[":manner-of", 6]], "6": [[":ARG0", 7]], "8": [[":ARG1", 1]], "9": [[":domain", 10], [":ARG0-of", 11]], "12": [[":domain", 13], [":ARG0-of", 14]], "15": [[":ARG0", 16], [":ARG1", 17]], "17": [[":ARG0-of", 18]], "18": [[":mod", 19]]}
{"0": [[":snt1", 1], [":snt2", 8]], "1": [[":mode", 2], [":ARG0", 3], [":ARG1", 4], [":ARG2", 7]], "4": [[":quant", 5]], "5": [[":degree", 6]], "8": [[":op1", 9], [":op2", 10], [":op2", 11]]}
{}
{"0": [[":snt1", 1], [":snt2", 4]], "1": [[":ARG0", 2]], "2": [[":mod", 3]], "4": [[":ARG1-of", 5], [":mod", 6], [":domain", 10], [":concession", 7]], "7": [[":op1", 8]], "8": [[":ARG1", 9], [":direction", 12]], "9": [[":poss", 10]], "10": [[":ARG1-of", 11]]}
{"0": [[":op1", 1], [":op2", 5], [":condition", 11], [":topic", 21]], "1": [[":ARG1", 2], [":ARG2", 3]], "3": [[":poss", 4]], "5": [[":ARG1", 2], [":ARG2", 6]], "6": [[":op1", 7], [":op2", 10]], "7": [[":ARG0", 2], [":ARG1", 8]], "8": [[":mod", 9]], "10": [[":ARG0", 8], [":ARG1", 2]], "11": [[":op1", 12], [":op2", 18]], "12": [[":ARG0", 2], [":ARG1", 13]], "13": [[":ARG0", 2], [":ARG1-of", 14]], "14": [[":degree", 15], [":compared-to", 16]], "16": [[":mod", 17]], "18": [[":ARG0", 2], [":ARG1-of", 19]], "19": [[":degree", 20]], "21": [[":ARG3", 22]], "22": [[":op1", 23], [":op2", 24]]}
{"0": [[":ARG1", 1], [":mod", 7], [":mod", 8]], "1": [[":domain", 2], [":ARG0-of", 3]], "3": [[":ARG1", 4]], "4": [[":name", 5]], "5": [[":op1", 6]], "8": [[":ARG2", 9], [":ARG1-of", 10]], "10": [[":ARG2", 11]], "11": [[":op1", 12], [":op2", 13]]}
{"0": [[":ARG0", 1], [":ARG1", 9]], "1": [[":ARG0", 10], [":ARG1", 2]], "2": [[":ARG2", 3]], "3": [[":ARG0", 10], [":ARG1", 4], [":manner", 7]], "4": [[":ARG0-of", 5]], "5": [[":ARG1", 10], [":ARG2", 6]], "7": [[":polarity", 8], [":ARG0", 10]], "9": [[":ARG0", 10], [":ARG1", 13], [":time", 19], [":mod", 20]], "10": [[":name", 11]], "11": [[":op1", 12]], "13": [[":ARG0", 10], [":ARG1", 14], [":ARG2", 15]], "15": [[":ARG0", 10], [":ARG2", 16]], "16": [[":name", 17]], "17": [[":op1", 18]]}
{"0": [[":snt1", 1], [":snt2", 5]], "1": [[":mode", 2], [":ARG1", 3], [":degree", 4]], "5": [[":mode", 2], [":degree", 6], [":domain", 7]], "7": [[":name", 8]], "8": [[":op1", 9], [":op2", 10]]}
{"0": [[":snt1", 1], [":snt2", 12]], "1": [[":polarity", 2], [":mode", 3], [":ARG0", 8], [":ARG1", 4], [":condition", 5]], "4": [[":ARG1", 9]], "5": [[":op1", 6], [":op2", 10]], "6": [[":polarity", 2], [":ARG0", 7], [":ARG1", 9]], "7": [[":part-of", 8]], "10": [[":polarity", 2], [":ARG0", 11], [":ARG1", 9]], "11": [[":part-of", 8]], "12": [[":ARG0", 13], [":ARG1", 15]], "13": [[":quant", 14]]}
{"0": [[":snt1", 1], [":snt2", 5]], "1": [[":op1", 2], [":op2", 4]], "2": [[":mod", 3]], "5": [[":polarity", 6], [":ARG0", 7], [":ARG1", 8]], "8": [[":ARG1-of", 9]], "9": [[":ARG0", 7]]}
